# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
outfile
driver

# Vim tempfiles
*.cc~
*.h~
*~

#symbol files folder
*.dSYM/

#core
core

#topcoder
driver.cc
Problem.html
driver

#Java
*.class
.idea/
